# DATA TYPES AND STRUCTURES

1.What are data structures, and why are they important?
  - Data structures are organized ways of storing and managing data (e.g., lists, stacks, queues, trees). They are important because they make data access, modification, and storage efficient, which improves performance in solving problems.

2.Explain the difference between mutable and immutable data types with examples?
    - Mutable: Can be changed after creation (e.g., list, dict, set).
Example: my_list = [1, 2, 3]; my_list[0] = 20
Immutable: Cannot be changed after creation (e.g., tuple, string).
Example: my_str = 'hello world'; my_str[0] = 'H' → **Error**

3.What are the main differences between lists and tuples in Python?
  - Lists: Mutable, slower, use [].
Tuples: Immutable, faster, use ().

4.Describe how dictionaries store data?
  - Dictionaries use hash tables, storing data as key–value pairs. Keys are hashed to determine where values are stored in memory.

5.Why might you use a set instead of a list in Python?
  - Sets automatically remove duplicates and allow faster membership testing using hashing.

6.What is a string in Python, and how is it different from a list?
  - A string is an immutable sequence of characters, while a list is a mutable sequence of items.

7.How do tuples ensure data integrity in Python?
  - Tuples are immutable, so data cannot be changed accidentally, ensuring consistency.

8.What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that maps keys to values using hash functions. Python dictionaries are implemented using hash tables.

9.Can lists contain different data types in Python?
  - Yes, lists can hold multiple data types.
Example: [1, 'hello', 3.14, True]

10. Explain why strings are immutable in Python
    - To improve performance, security (hashing, dictionary keys), and memory efficiency.

11.What advantages do dictionaries offer over lists for certain tasks?
   - Dictionaries allow faster lookups using keys and are better for structured data.

12.Describe a scenario where using a tuple would be preferable over a list?
   - When storing constant data like days of the week: ('Mon', 'Tue', 'Wed', ...)

13.How do sets handle duplicate values in Python?
  - Sets automatically remove duplicates.
Example: set([1, 2, 2, 3]) → {1, 2, 3}

14.How does the “in” keyword work differently for lists and dictionaries?
   - For lists: checks each element sequentially.
For dictionaries: checks keys using hashing.
bold text

15.Can you modify the elements of a tuple? Explain why or why not.
   - No, tuples are immutable, so elements cannot be reassigned.

16.What is a nested dictionary, and give an example of its use case?
   - A dictionary inside another dictionary.
Example: {'name': 'John', 'marks': {'math': 90, 'science': 85}}

17.Describe the time complexity of accessing elements in a dictionary.
   - Average case: O(1) (constant time).

18.In what situations are lists preferred over dictionaries?
   - When order matters or when data does not need key-value mapping.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
   - They are based on hash tables, so order was not guaranteed (before Python 3.7). Since Python 3.7, they maintain insertion order but are still logically unordered.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
   - List: Retrieve by index (position).
Dictionary: Retrieve by key.

# Practical Questions

In [1]:
#Write a code to create a string with your name and print it
name = "Saniya Banu S"
print(name)

Saniya Banu S

In [2]:
# Write a code to find the length of the string "Hello World"?
print(len("Hello World"))

11

In [3]:
#Write a code to slice the first 3 characters from the string "Python Programming"?
print("Python Programming"[:3])

Pyt

In [4]:
#Write a code to convert the string "hello" to uppercase?
print("hello".upper())

HELLO

In [5]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"?
print("I like apple".replace("apple", "orange"))

I like orange

In [6]:
# Write a code to create a list with numbers 1 to 5 and print it?
print([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

In [7]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]?
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [9]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
print(['a', 'b', 'c', 'd'][1])

b

In [11]:
#Write a code to reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [13]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [15]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
up = ('red', 'green', 'blue', 'yellow')
print(tup[-2])

200

In [16]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
up = (10, 20, 5, 15)
print(min(tup))

100

In [18]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup = ('dog', 'cat', 'rabbit')
print(tup.index("cat"))

1

In [19]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

In [20]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [21]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [22]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [23]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
print({1, 2, 3} | {3, 4, 5})

{1, 2, 3, 4, 5}

In [24]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
print({1, 2, 3} & {2, 3, 4})

{2, 3}

In [28]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d={"name": "John", "age": 25, "city": "NY"}
print(d)

{'name': 'John', 'age': 25, 'city': 'NY'}

In [32]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [33]:
#. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
print({'name': 'Alice', 'age': 30}["name"])

Alice

In [34]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

In [35]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

print("city" in {'name': 'Alice', 'city': 'Paris'})

True

In [37]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
print([1, 2, 3], (4, 5, 6), {"a": 1, "b": 2})

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [1]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
import random

# Create a list of 5 random numbers between 1 and 100
numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
numbers.sort()

# Print the result
print(numbers)

[39, 57, 68, 79, 97]

In [41]:
# Write a code to create a list with strings and print the element at the third index
lst = ["apple", "banana", "cherry", "date"]
print(lst[3])

date

In [42]:
# Write a code to combine two dictionaries into one and print the result.
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [43]:
#Write a code to convert a list of strings into a set.
lst = ["a", "b", "c", "a"]
print(set(lst))

{'a', 'b', 'c'}